@import "./MixinsProfile.scss";



.titlePrin {
  @include title;
  text-align: center;
  position: relative;
  margin-bottom: 30%;

}

.ctnSup {
  @include centerCnt;
}

.ctnDetail{
    @include ctnMedida;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}



.cardFav {
  background-color: red;
  display: flex;
  margin-top: 300px;
  margin-left: 0px;
  justify-content: center;
  flex-direction: row;
}

.Card{
  width: 50px!important ;
  height: 50px !important;
}